/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */


html {
	background-color: black;
}


body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: url(city4.png) center;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	height: 100vh;

}


.nav {
	width: 100%;
	display: inline-block;
	/*background-color: #303030;*/
	border-bottom: solid 1px white;
	background: #1A1A1A;
	box-shadow: 1px 5px 20px 1px;
	opacity: 0.9;
	filter: alpha(opacity=50);

}

.nav ul {
	list-style: none;
	width: 800px;

}

.nav li {
	float: right;

}

.nav li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #FFF7F9;
	padding: 20px 30px 20px 30px;
}

.nav li a:hover {
	color: #FF742E;
	background: #121212;
	transition-duration: 0.5s;
  transition-timing-function: linear;
}

.nav ul,
.nav li {
	list-style: none;
}



footer {
	position:absolute;
  bottom:0;
  width:100%;
  height:60px;
	background-color: #1A1A1A;
	border-top: solid 1px white;
	box-shadow: 1px 5px 20px 1px;
	opacity: 0.9;
	filter: alpha(opacity=50);
}

footer h3 {
	color: white;
	font-size: 10px;
	padding-top: 20px;
}

.teevo {
	width: 150px;
	height: auto;
	display: inline-block;
	float: left;
	padding: 10px 0 0 30px;
}

/*===================================
Sign up
===================================*/

.form-box {
	width: 30%;
	border-radius: 15px;
	background-color: #1f1f1f;
	border: 1px solid white;
	box-shadow: -5px 5px 20px 0;
	padding: 10px 0 30px 0;
	margin: 0 auto;
	vertical-align: middle;
}

.sign-up {
	display: block;
	padding: 0 20px 0 20px;
	border-bottom: solid 2px #1F1F1F;

	background: rgba(31,31,31,1);
	background: -moz-linear-gradient(top, rgba(31,31,31,1) 0%, rgba(10,10,20,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,31,31,1)), color-stop(100%, rgba(10,10,20,1)));
	background: -webkit-linear-gradient(top, rgba(31,31,31,1) 0%, rgba(10,10,20,1) 100%);
	background: -o-linear-gradient(top, rgba(31,31,31,1) 0%, rgba(10,10,20,1) 100%);
	background: -ms-linear-gradient(top, rgba(31,31,31,1) 0%, rgba(10,10,20,1) 100%);
	background: linear-gradient(to bottom, rgba(31,31,31,1) 0%, rgba(10,10,20,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#0a0a14', GradientType=0 );
}

.form-box h1 {
	color: #FF742E;
	font-family: 'Poppins', sans-serif;
}

.details {
	background: rgba(11,10,20,1);
	background: -moz-linear-gradient(top, rgba(11,10,20,1) 0%, rgba(31,31,31,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11,10,20,1)), color-stop(100%, rgba(31,31,31,1)));
	background: -webkit-linear-gradient(top, rgba(11,10,20,1) 0%, rgba(31,31,31,1) 100%);
	background: -o-linear-gradient(top, rgba(11,10,20,1) 0%, rgba(31,31,31,1) 100%);
	background: -ms-linear-gradient(top, rgba(11,10,20,1) 0%, rgba(31,31,31,1) 100%);
	background: linear-gradient(to bottom, rgba(11,10,20,1) 0%, rgba(31,31,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b0a14', endColorstr='#1f1f1f', GradientType=0 );
}

.field {
	padding: 20px;
	color: #90DCF5;
}

.box {
	padding: 10px;
	border-radius:5px;
	background-color: #595959;
	color: white;
}

/*===================================
Yield
===================================*/

/*
.main {
	width: 75%;
	border-radius: 15px;
	background-color: #1F1F1F;
	border: 2px solid grey;
	box-shadow: -5px 5px 20px 0;
	padding: 10px 0 30px 0;
	margin: 0 auto;
}

.container {
	width: 40%;
	border-radius: 15px;
	background-color: #1F1F1F;
	border: 2px solid white;
	box-shadow: -5px 5px 20px 0;
	padding: 10px 0 30px 0;
	margin: 0 auto;
}

.signIn {
	color: white;
	font-size: 50px;
	padding: 0 0 20px 0;
	font-family: 'Poppins', sans-serif;
}

#email {
	padding: 20px;
	color: white;
}

#password {
	color: white;
}

#remember {
	padding: 20px;
	color: #0BAFE6;
}

#log {
	padding-bottom: 20px;
}

*/
