// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-wrapper {
	background-color: #1F1F1F;
	display: inline-block;
	width: 90%;
	border-radius: 5px;
	padding: 20px;
	height: 75vh;
}

.main-content {
	background-color: #878787;
	display: block;
	width: 80%;
	border-radius: 5px;
	padding: 20px;
	height: 70vh;
	margin: 0 auto;
	opacity: 0.9;
	filter: alpha(opacity=50);

}

.main-wrapper h1 {
	font-family: 'Poppins', sans-serif;
	color: blue;
}

.title {
	display: inline-block;
	padding: 20px;
	font-size: 2em;
	color: white;
}

.url {
	padding: 20px;
	font-size: 2em;
	color: white;
}

.links {
	padding: 20px;
	font-size: 2em;
	color: white;
}

.title2 {
	padding: 15px;
	font-size: 20px;
	color: #B5B5B5;
	font-family: 'Raleway', sans-serif;
}

.url2 {
	padding: 15px;
	font-size: 20px;
	color: #B5B5B5;
	font-family: 'Raleway', sans-serif;
}

.links2 {
	padding: 15px;
	font-size: 20px;
	color: #B5B5B5;
	font-family: 'Raleway', sans-serif;
}


table {
	text-align: center;
	margin: 0 auto;
}


/*=============================
Vote Buttons
=============================*/

.btn {
	border: 1px solid black
}
